#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "/tmp/mpd_socket",
    password: None,
    theme: Some("gruvbox"),
    cache_dir: Some("~/.cache/rmpc"),
    on_song_change: None,
    volume_step: 5,
    max_fps: 30,
    scrolloff: 0,
    wrap_navigation: false,
    enable_mouse: true,
    enable_focus_events: true,
    scroll_amount: 1,
    enable_config_hot_reload: true,
    enable_lyrics_hot_reload: false,
    status_update_interval_ms: 1000,
    rewind_to_start_sec: None,
    keep_state_on_song_change: true,
    reflect_changes_to_playlist: false,
    select_current_song_on_change: false,
    on_exit: None,
    ignore_leading_the: false,
    browser_song_sort: [Disc, Track, Artist, Title],
    directories_sort: SortFormat(group_by_type: true, reverse: false),
    auto_open_downloads: true,
    quit_closes_modal: false,
    queue_disable_current_item_style_timeout_ms: None,
    album_art: (
        method: Auto,
        max_size_px: (width: 1200, height: 1200),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    cava: (
    framerate: 60,
    autosens: true,
    sensitivity: 100,
    input: (
        method: Fifo,
        source: "/tmp/mpd.fifo",
        sample_rate: 44100,
        channels: 2,
        sample_bits: 16,
    ),
),
    keybinds: (
        global: {
            "q":          Quit,
            "?":          ShowHelp,
            ":":          CommandMode,
            "oI":         ShowCurrentSongInfo,
            "oo":         ShowOutputs,
            "op":         ShowDecoders,
            "od":         ShowDownloads,
            "oP":         Partition(),
            "z":          ToggleRepeat,
            "x":          ToggleRandom,
            "c":          ToggleConsume,
            "v":          ToggleSingle,
            "p":          TogglePause,
            "s":          Stop,
            ">":          NextTrack,
            "<":          PreviousTrack,
            "f":          SeekForward,
            "b":          SeekBack,
            ".":          VolumeUp,
            ",":          VolumeDown,
            "<Tab>":      NextTab,
            "gt":         NextTab,
            "<S-Tab>":    PreviousTab,
            "gT":         PreviousTab,
            "1":          SwitchToTab("Queue"),
            "2":          SwitchToTab("Directories"),
            "3":          SwitchToTab("Artists"),
            "4":          SwitchToTab("Album Artists"),
            "5":          SwitchToTab("Albums"),
            "6":          SwitchToTab("Playlists"),
            "7":          SwitchToTab("Search"),
            "u":          Update,
            "U":          Rescan,
            "R":          AddRandom,
        },
        navigation: {
            "<C-c>":      Close,
            "<Esc>":      Close,
            "<CR>":       Confirm,
            "k":          Up,
            "<Up>":       Up,
            "j":          Down,
            "<Down>":     Down,
            "h":          Left,
            "<Left>":     Left,
            "l":          Right,
            "<Right>":    Right,
            "<C-w>k":     PaneUp,
            "<C-Up>":     PaneUp,
            "<C-w>j":     PaneDown,
            "<C-Down>":   PaneDown,
            "<C-w>h":     PaneLeft,
            "<C-Left>":   PaneLeft,
            "<C-w>l":     PaneRight,
            "<C-Right>":  PaneRight,
            "K":          MoveUp,
            "J":          MoveDown,
            "<C-u>":      UpHalf,
            "<C-d>":      DownHalf,
            "<C-b>":      PageUp,
            "<PageUp>":   PageUp,
            "<C-f>":      PageDown,
            "<PageDown>": PageDown,
            "gg":         Top,
            "G":          Bottom,
            "<Space>":    Select,
            "<C-Space>":  InvertSelection,
            "/":          EnterSearch,
            "n":          NextResult,
            "N":          PreviousResult,
            "a":          Add,
            "A":          AddAll,
            "D":          Delete,
            "<C-r>":      Rename,
            "i":          FocusInput,
            "oi":         ShowInfo,
            "<C-x>":      ContextMenu(),
            "<C-s>s":     Save(kind: Modal(all: false, duplicates_strategy: Ask)),
            "<C-s>a":     Save(kind: Modal(all: true, duplicates_strategy: Ask)),
            "r":          Rate(),
            "Y":          CopyToClipboard(kind: Modal([
                              ("Displayed value", (content: DisplayedValue, all: false)),
                              ("Artist - Title", (content: Metadata([(kind: Property(Artist)), (kind: Text(" - ")), (kind: Property(Title))]), all: false)),
                          ])),
            "y":          CopyToClipboard(kind: Content(content: DisplayedValue, all : false)),
        },
        queue: {
            "d":          Delete,
            "D":          DeleteAll,
            "<CR>":       Play,
            "C":          JumpToCurrent,
            "L":          SelectAlbum(),
            "X":          Shuffle,
        },
    ),
    search: (
        case_sensitive: false,
        ignore_diacritics: false,
        search_button: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
        ],
    ),
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
        album_date_tags: [Date],
    ),
    tabs: [
        (
    name: "Queue",
    pane: Split(
        direction: Vertical,
        panes: [
            (
                size: "100%",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "65%",
                            borders: "ALL",
                            border_symbols: Rounded,
                            pane: Pane(Queue)
                        ),
                        (
                            size: "35%",
                            borders: "ALL",
                            border_symbols: Rounded,
                            pane: Pane(AlbumArt)
                        ),
                    ]
                )
            ),
            (
                size: "40%",
                borders: "ALL",
                border_symbols: Rounded,
                pane: Pane(Cava)
            ),
        ]
    ),
),
        (
            name: "Directories",
            borders: "ALL",
            border_symbols: Rounded,
            pane: Split(
                size: "100%",
                direction: Vertical,
                panes: [(pane: Pane(Directories), size: "100%", borders: "ALL", border_symbols: Rounded)],
            )
        ),
        (
            name: "Artists",
            borders: "ALL",
            border_symbols: Rounded,
            pane: Split(
                size: "100%",
                direction: Vertical,
                panes: [(pane: Pane(Artists), size: "100%", borders: "ALL", border_symbols: Rounded)],
            )
        ),
        (
            name: "Album Artists",
            borders: "ALL",
            border_symbols: Rounded,
            pane: Split(
                size: "100%",
                direction: Vertical,
                panes: [(pane: Pane(AlbumArtists), size: "100%", borders: "ALL", border_symbols: Rounded)],
            )
        ),
        (
            name: "Albums",
            borders: "ALL",
            border_symbols: Rounded,
            pane: Split(
                size: "100%",
                direction: Vertical,
                panes: [(pane: Pane(Albums), size: "100%", borders: "ALL", border_symbols: Rounded)],
            )
        ),
        (
            name: "Playlists",
            borders: "ALL",
            border_symbols: Rounded,
            pane: Split(
                size: "100%",
                direction: Vertical,
                panes: [(pane: Pane(Playlists), size: "100%", borders: "ALL", border_symbols: Rounded)],
            )
        ),
        (
            name: "Search",
            borders: "ALL",
            border_symbols: Rounded,
            pane: Split(
                size: "100%",
                direction: Vertical,
                panes: [(pane: Pane(Search), size: "100%", borders: "ALL", border_symbols: Rounded)],
            )
        ),
    ],
)
layout: Split(
    direction: Vertical,
    panes: [
        (
            size: "4",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "35",
                        borders: "LEFT | TOP | BOTTOM",
                        border_symbols: Inherited(parent: Rounded, bottom_left: "├"),
                        pane: Component("header_left")
                    ),
                    (
                        size: "100%",
                        borders: "ALL",
                        border_symbols: Inherited(parent: Rounded, top_left: "┬", top_right: "┬", bottom_left: "┴", bottom_right: "┴"),
                        pane: Component("header_center")
                    ),
                    (
                        size: "35",
                        borders: "RIGHT | TOP | BOTTOM",
                        border_symbols: Inherited(parent: Rounded, bottom_right: "┤"),
                        pane: Component("header_right")
                    ),
                ]
            )
        ),
        (
            pane: Pane(Tabs),
            borders: "RIGHT | LEFT | BOTTOM",
            border_symbols: Rounded,
            size: "2",
        ),
        (
            pane: Pane(TabContent),
            size: "100%",
        ),
        (
            size: "3",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "12",
                        borders: "ALL",
                        border_symbols: Inherited(parent: Rounded, top_right: "┬", bottom_right: "┴"),
                        pane: Component("input_mode")
                    ),
                    (
                        size: "100%",
                        borders: "TOP | BOTTOM | RIGHT",
                        border_symbols: Rounded,
                        border_title: [(kind: Text(" ")), (kind: Property(Status(QueueLength()))), (kind: Text(" songs / ")), (kind: Property(Status(QueueTimeTotal()))), (kind: Text(" total time "))],
                        border_title_alignment: Right,
                        pane: Component("progress_bar"),
                    ),
                ]
            ),
        ),
    ],
),
components: {
    "state": Pane(Property(
        content: [
            (kind: Text("["), style: (fg: "#d8a657", modifiers: "Bold")),
            (kind: Property(Status(StateV2( ))), style: (fg: "#d8a657", modifiers: "Bold")),
            (kind: Text("]"), style: (fg: "#d8a657", modifiers: "Bold")),
        ], align: Left,
    )),
    "title": Pane(Property(
        content: [
            (kind: Property(Song(Title)), style: (modifiers: "Bold"),
            default: (kind: Text("No Song"), style: (modifiers: "Bold"))),
        ], align: Center, scroll_speed: 1
    )),
    "volume": Split(
        direction: Horizontal,
        panes: [
            (size: "1", pane: Pane(Property(content: [(kind: Text(""))]))),
            (size: "100%", pane: Pane(Volume(kind: Slider(symbols: (filled: "─", thumb: "●", track: "─"))))),
            (size: "3", pane: Pane(Property(content: [(kind: Property(Status(Volume)), style: (fg: "#d8a657"))], align: Right))),
            (size: "2", pane: Pane(Property(content: [(kind: Text("%"), style: (fg: "#d8a657"))]))),
        ]
    ),
    "elapsed_and_bitrate": Pane(Property(
        content: [
            (kind: Property(Status(Elapsed))),
            (kind: Text(" / ")),
            (kind: Property(Status(Duration))),
            (kind: Group([
                (kind: Text(" (")),
                (kind: Property(Status(Bitrate))),
                (kind: Text(" kbps)")),
            ])),
        ],
        align: Left,
    )),
    "artist_and_album": Pane(Property(
        content: [
            (kind: Property(Song(Artist)), style: (fg: "#d8a657", modifiers: "Bold"),
            default: (kind: Text("Unknown"), style: (fg: "#d8a657", modifiers: "Bold"))),
            (kind: Text(" - ")),
            (kind: Property(Song(Album)), default: (kind: Text("Unknown Album"))),
        ], align: Center, scroll_speed: 1
    )),
    "states": Split(
        direction: Horizontal,
        panes: [
            (size: "1", pane: Pane(Empty())),
            (size: "100%", pane: Pane(Property(content: [(kind: Property(Status(InputBuffer())), style: (fg: "#7daea3"), align: Left)]))),
            (
                size: "6",
                pane: Pane(Property(content: [
                    (kind: Text("["), style: (fg: "#5a524c", modifiers: "Bold")),
                    (kind: Property(Status(RepeatV2(
                        on_label: "Repeat",
                        off_label: "Repeat",
                        on_style: (fg: "#d8a657", modifiers: "Bold"),
                        off_style: (fg: "#5a524c", modifiers: "Dim"),
                    )))),
                    (kind: Text(" / "), style: (fg: "#5a524c")),
                    (kind: Property(Status(RandomV2(
                        on_label: "Random",
                        off_label: "Random",
                        on_style: (fg: "#d8a657", modifiers: "Bold"),
                        off_style: (fg: "#5a524c", modifiers: "Dim"),
                    )))),
                    (kind: Text(" / "), style: (fg: "#5a524c")),
                    (kind: Property(Status(ConsumeV2(
                        on_label: "Consume",
                        off_label: "Consume",
                        oneshot_label: "Consume",
                        on_style: (fg: "#d8a657", modifiers: "Bold"),
                        off_style: (fg: "#5a524c", modifiers: "Dim"),
                        oneshot_style: (fg: "#ea6962", modifiers: "Dim"),
                    )))),
                    (kind: Text(" / "), style: (fg: "#5a524c")),
                    (kind: Property(Status(SingleV2(
                        on_label: "Single",
                        off_label: "Single",
                        oneshot_label: "Single",
                        on_style: (fg: "#d8a657", modifiers: "Bold"),
                        off_style: (fg: "#5a524c", modifiers: "Dim"),
                        oneshot_style: (fg: "#ea6962", modifiers: "Bold"),
                    )))),
                    (kind: Text("]"), style: (fg: "#5a524c", modifiers: "Bold")),
                ], align: Right))
            ),
        ]
    ),
    "input_mode": Pane(Property(
        content: [
            (kind: Transform(Replace(content: (kind: Property(Status(InputMode()))), replacements: [
                (match: "Normal", replace: (kind: Text(" NORMAL "), style: (fg: "#1d2021", bg: "#7daea3"))),
                (match: "Insert", replace: (kind: Text(" INSERT "), style: (fg: "#1d2021", bg: "#a9b665"))),
            ])))
        ], align: Center
    )),
    "header_left": Split(
        direction: Vertical,
        panes: [
            (size: "1", pane: Component("state")),
            (size: "1", pane: Component("elapsed_and_bitrate")),
        ]
    ),
    "header_center": Split(
        direction: Vertical,
        panes: [
            (size: "1", pane: Component("title")),
            (size: "1", pane: Component("artist_and_album")),
        ]
    ),
    "header_right": Split(
        direction: Vertical,
        panes: [
            (size: "1", pane: Component("volume")),
            (size: "1", pane: Component("states")),
        ]
    ),
    "progress_bar": Split(
        direction: Horizontal,
        panes: [
            (size: "1", pane: Pane(Empty())),
            (size: "100%", pane: Pane(ProgressBar)),
            (size: "1", pane: Pane(Empty())),
        ]
    )
},
