* {
    background-image: none;
}

window {
    background-color: rgba(29, 32, 33, 0.9);
}

button {
    color: #ebdbb2;
    background-color: #3c3836;
    border-style: solid;
    border-width: 2px;
    border-color: #504945;
    border-radius: 8px;
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
    outline-style: none;
    box-shadow: none;
    text-shadow: none;
}

button:hover {
    background-color: #504945;
    border-color: #d79921;
    color: #fabd2f;
}

button:focus {
    background-color: #504945;
    border-color: #d79921;
    color: #fabd2f;
    outline-style: none;
}

#logout {
    background-image: none;
}

#suspend {
    background-image: none;
}

#shutdown {
    background-image: none;
}

#reboot {
    background-image: none;
}
